* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Calibri, sans-serif;
}

/*#region Variables*/
:root {
  --primary-color: #0b2447;
  --secondary-color: #19376d;
  --tertiary-color: #5c8374;
  --accent: #c71817;
  --gray: #ccc;
  --header-height: 100px;
  --text: black;
}

:root {
  --primary-color: #142850;
  --secondary-color: #27496d;
  --tertiary-color: #0c7b93;
  --accent: #c71817;
  --gray: #ccc;
}

/*#endregion*/
/*#region Helper classes*/
.primary {
  color: var(--primary-color, #2e6da4);
}

.secondary {
  color: var(--secondary-color, #19376d);
}

.tertiary {
  color: var(--tertiary-color, #576cbc);
}

.accent {
  color: var(--accent, #93b1a6);
}

.text {
  color: var(--text, black);
}

.gray {
  color: var(--gray, gray);
}

.primary-bg {
  background-color: var(--primary-color, #2e6da4);
}

.secondary-bg {
  background-color: var(--secondary-color, #19376d);
}

.tertiary-bg {
  background-color: var(--tertiary-color, #576cbc);
}

.accent-bg {
  background-color: var(--accent, #93b1a6);
}

.accent-border {
  border: 2px var(--accent, #93b1a6) solid;
}

.gray-bg {
  background-color: var(--gray, #93b1a6);
}

.flex-columns {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-rows {
  display: flex;
  flex-direction: row;
  height: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.flex-section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.full-width {
  width: 100%;
}

/*#endregion*/
/* Styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color, #2e6da4);
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.botones {
  gap: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.boton {
  border-radius: 0.5rem;
}
.boton:hover {
  cursor: pointer;
  opacity: 0.8;
}
.boton a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/*#region Header*/
header {
  position: fixed;
  width: 100%;
  background-color: var(--primary-color, #2e6da4);
  color: white;
  padding: 2rem 0;
  z-index: 100;
  height: var(--header-height);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.logo h1 {
  font-size: 2rem;
  color: var(--gray, #ccc);
}
.logo h1 span {
  color: white;
}

ul {
  list-style: none;
  display: flex;
  gap: 0;
}

/*#endregion*/
/*#region Sections*/
section {
  text-align: center;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}
section:nth-child(even) {
  background-color: var(--secondary-color, navyblue);
}
section:nth-child(odd) {
  background-color: var(--primary-color, #2e6da4);
}
section .flex-section-container {
  margin-top: var(--header-height) !important;
  margin-bottom: var(--header-height) !important;
}
section h3 {
  font-size: 4rem;
  color: var(--gray);
}
section .card {
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  padding: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: var(--text);
  padding-top: 8px;
}
section .card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.15);
  transition: all ease-in-out 0.2s;
}
section .card h5 {
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
section .card li,
section .card div {
  text-align: left;
  font-size: 0.8rem;
}

/*#region Home*/
.hero {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#home {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#home h1 {
  font-size: 3rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: var(--gray, #ccc);
}
#home h1 span {
  color: white;
}
#home h2 {
  font-size: 4rem;
  text-align: left;
  margin-bottom: 2rem;
  color: var(--accent, #93b1a6);
  font-family: "Merriweather", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#home .boton {
  padding: 1rem 2rem;
}
#home #home-left {
  transform: translateX(25%);
}
#home #home-image {
  background-image: url(/assets/true-agency-o4UhdLv5jbQ-unsplash.jpg);
  background-size: cover;
  border-radius: 25px;
  height: 40%;
  width: 30%;
  min-height: 350px;
  min-width: 200px;
}

/*#endregion*/
#skills .skills-subsection {
  height: 50px;
  text-align: left;
  border-bottom: var(--accent) solid 2px;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  color: var(--accent);
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

#proyectos .flex-section-title {
  margin-bottom: 5rem;
}

#contact-image {
  background-image: url(/assets/handhsake-unsplash.jpg);
  background-size: cover;
  border-radius: 25px;
  height: 40%;
  width: 100%;
  min-height: 350px;
  min-width: 200px;
  border-radius: 8px;
  margin-bottom: 6rem;
  margin-top: 3rem;
}

/*#region Footer*/
footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*#endregion*/
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 1rem;
  }
  nav ul {
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */