/*idea, class="active" -> subrayado
.button:hover { background-color: color del sitio en RGBA, con alpha 0.5 o}*/

body {
	margin: 0;
	padding: 0;
	background-color: #333;
	}
.nav {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: #333;
	}
 .nav a {
	 display: inline-block;
   float: left;
	 color: white;
	 padding: 20px;
	 text-decoration: none;
	 } 
 .nav a:hover {
	 background-color: #111;
	 transition: 0.5s;
   }
p, li{
	 font-family: 'Calibri', sans-serif;
	 }
#Home {
	margin-top: 58px;
	padding: 20px;
	font-family: Calibri, sans-serif;
	text-align: center;
	color: white;
	background-color: grey;
}
#Home h1 {
	  font-family: Georgia, cursive;
		font-size: 40px;
		border: 2px solid white;
		padding: 10px;
		text-align: center;
	}
#About {
	padding: 5px 20px 5px 20px;
	background-color: orange;
	color: #333;
	/* height: 500px; */
}
h2 {
	font-size: 30px;
	font-family: Garamond;
}
#Skills {
	padding: 5px 20px 5px 20px;
	background-color: white;
	color: black;
}
#Contact {
	padding: 5px 20px 5px 20px;
	background-color: teal;
	color: white;
	/* font-family: calibri; */
}
footer {
	background-color: #333;
	height: 60px;
	color: white;
	padding: 5px 20px 5px 20px;
	text-align:center;
}
