/*idea, class="active" -> subrayado
.button:hover { background-color: color del sitio en RGBA, con alpha 0.5 o}*/

body {
	margin: 0 0;
	padding: 0 0;
	background-color: #333;
	}
ul.nav{
	display: inline-block;
	list-style-type: none;
	width: 100%;
	height: 60px;
	position: fixed;
	/*z-index: 10;*/
	background-color: #333;
	color: white;
  padding: 0 0;
	margin: 0 0;
	text-align: center;
	top: 0px;
	}
 li a {
	 float: left;
	 display: inline-block;
	 color: white;
	 text-align: center;
	 padding: 20px;
	 text-decoration: none;
	 justify-content: center;
 	}
 li a:hover {
	 background-color: #111;
	 transition: 0.5s;
   }
	 p {
		 font-family: 'Oswald', 'Calibri', sans-serif;
	 }
#Home {
	/*display: block;*/
	top: 60px;
	height: 500px;
	font-family: Calibri, sans-serif;
	text-align: center;
	color: white;
	background-color: grey;
}
#Home h1 {
	top: 80px;
  font-family: Garamond, cursive;
	}
#About {
	/*display: block;*/
	background-color: orange;
	color: #333;
	height: 500px;
}
#Products {
	/*display: block;*/
	background-color: white;
	color: black;
	height: 500px;
}
#Contact {
	/*display: block;*/
	background-color: teal;
	height: 500px;
	color: white;
}
footer {
	background-color: #333;
	height: 60px;
	color: white;
}
