body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgb(24, 113, 255), rgb(0, 19, 58));
    min-height: 100vh;
    height: 100%;
    margin:0;
}
main {max-width: 900px; margin: 0 auto;}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    border-bottom: 2px solid black;
}


.perfil {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    padding: 35px;
    border: 3px #222222 solid;
    border-radius: 30px;
    width: 500px;
    background-color: #FFFFFF;
}
.perfil img {
    border-radius: 100px;
}
h3 {
    margin-bottom: 2px;
    margin-top: 0;
    font-size: 30px;
}

button {
    font-family: 'Montserrat';
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
}


.repos {
    background-color: #FFFFFF;
    border-radius: 10px 10px 0 0 ;
    padding: 5px;
    margin-top: 60px;
    display: none;
}


.repo {
    margin-left: 30px;
    margin-top: 15px;
    margin: 15px 30px;
    border-bottom: 1px solid rgba(1,1,1,0.3);    
}
.repo:nth-last-of-type(1) {
    margin-bottom: 30px;
    border-bottom: none;
}
.desc {
    margin-left: 40px;
    margin-bottom:30px;
    border-left: 4px #444 solid;
    opacity: 0.7;
    padding-left: 15px;
}
.lang {
    margin: 0;
}
