html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit; margin: 0px;}
body {font-family: 'Chivo', sans-serif;}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
p {
    line-height: 190%;
}
/* ********************************************** */
/*      Logo                                    */
/* ********************************************** */

#logo-wrapper {
    height: 275px;
    background: #333;
}
.logo.container {
    text-align: center;
    padding: 5em;
    height: 100%;
}
.logo h2 {color: #fff; font-size: 3em;}
.logo p {color: #fff;}

/* ********************************************** */
/*      Menu                                    */
/* ********************************************** */

ul {list-style: none; padding-left:0;}
.menu ul {display: flex; flex-wrap: wrap;}
.menu li{flex:1; line-height: 100px; text-align: center;}
.menu a {text-decoration: none; color: #fff;}
.menu a:hover {opacity: 0.7;}
.active{background: #C0005F}
#menu-wrapper {
    height: 100px;
    background: #A80154;
}

/* ********************************************** */
/*      Banner                                    */
/* ********************************************** */
#banner {
    background: url('https://images.unsplash.com/photo-1519615146318-276c70e267e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80');
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position-y: 70%;
}


/* ********************************************** */
/*      Page                                      */
/* ********************************************** */

.page.container {
    display: flex;
    flex-wrap: wrap;
    padding: 96px 20px;
}
.sidebar {
    flex:1;
    margin-right: 70px;
}
.article {
    flex:2.5;
}
.titulo {
    color: #B10058;
    font-weight: 400;
    font-size: 2em;
}
.sidetitulo {
    color: #B10058;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 32px;
}
.subtitulo {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #6F6F6F;
    margin-bottom: 32px;
}
.page a {
    color: #000; 
}
.estilo1 li{
    border-top:solid 1px #e5e5e5;
    padding: 10px 24px 10px 0;
    margin: 0;
}
.estilo1 li a:hover, .estilo2 li a:hover {
    text-decoration: none;
}
.estilo1 li:first-child{
    border-top:0;
}

/* ********************************************** */
/*      Equipo                                    */
/* ********************************************** */

#equipo-wrapper {
    background: #A80154;
    padding: 96px 0;
}
.equipo.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.card{
    flex:1;
    padding: 0em 20px;
}
.foto {
    width: 250px;
    height: 170px;
    margin-bottom: 32px;
}

.nombre {
    color: #fff;
    font-weight: 400;
    display: block;
    margin-bottom: 32px;
}
.bio {
    color: rgba(255,255,255,.7);
}
.leermas {
    display: block;
    color: #fff!important;
    background: #BB005D; 
    padding: 20px 20px 20px 45px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    width: 220px;
    margin-top: 22px;
}
.leermas:hover{opacity: 0.7;}
/* ********************************************** */
/*      Footer                                    */
/* ********************************************** */

#footer-wrapper {
    /*height: 475px;*/
    background: #1E1B1A;
}
.footer.container {
    display: flex;
    padding: 96px 24px;
    color: #B1B1B1;
}
.footer a {
    color: #B1B1B1; 
}
.footer-title{
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 32px;
}
.footbox {
    flex:1;
    margin: 0 24px;
}
ul.social {
    display: flex;
    margin: 32px auto;
}
.estilo2 li{
    border-top:solid 1px #2D2926;
    padding: 10px 24px 10px 0;
    margin: 0;
    color: #B1B1B1;
}
.estilo2 li:first-child{
    border-top:0;
}
.social i {
    color: #fff;
    display: inline-block;
    width: 40px;
    padding: 13px;
    margin: 0 10px;
    border-radius: 100px;
}
.social i:hover {opacity: 0.7;}
.fa-facebook-f {color: white; background: #4267b2;}
.fa-twitter {color: white; background:#55ACEE;}
.fa-instagram {color: white; background:#125688;}
/* ********************************************** */
/*      Copyright                                 */
/* ********************************************** */

#copyright-wrapper {
    height: 200px;
    background: #A80154;
}
.copyright.container {
    text-align: center;
    padding: 5em 0;
}
.copyright p {
    color: rgba(255,255,255,.5);
    letter-spacing: 2px;
}

@media (max-width: 1200px){
    .equipo.container {
        justify-content: space-evenly;
        max-width: 700px;
    }
    .equipo .card {
        /* box-sizing: border-box; */
        padding: 0 20px;
        margin: 50px 20px;
        width: 50%;
    }
    .card .bio {
        max-width: 250px;
    }
}


@media (max-width: 700px){
    body {
        box-sizing: border-box;
        width:100%;
    }
    .logo.container {
        padding: 5em 2em;
    }
    /*MENU*/
    #menu-wrapper {height: auto;}
    .menu ul li {padding: 10px;}

    /*PAGE*/
    .page.container {padding: 30px 18px;}
    .page .article {
        flex: 1 100%;
        order: 1;
    }
    .page .sidebar {
        padding-top: 30px;
        margin: 0 auto;
        flex: 1 100%;
        order: 2;
    }
    /*RELACIONADOS*/
    .page .sidebar ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
    }
    .page .sidebar li {
        display: inline-block;
        box-sizing: border-box;
    }

    /*EQUIPO*/
    .equipo.container {
        justify-content: space-evenly;
        max-width: 300px;
    }
    #equipo-wrapper {
        width: 100%;
        padding: 40px 0;
    }
    .equipo .card {
        /* box-sizing: border-box; */
        padding: 0 20px;
        margin: 25px auto;
        width: 100%;
    }
    .card .bio {
        max-width: 250px;
    }
    /*FOOTER*/
    .footer.container {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 18px;
    }
    .footbox {
        box-sizing: border-box;
        margin-bottom: 65px;
    }
    .footer .fb3 {
        flex: 2 100%;
        order: 1;
        width: 700px;
        padding: 0 18px;
        margin: 65px auto;
    }
    .footer .fb1 {
        flex: 1 40%;
        order: 2;
    }
    .footer .fb2 {
        flex: 1 40%;
        order: 3;
    }
}