body {
  background: #cce6ff;
  padding:0;
  margin-top: 80px;
  text-align: center;
  }
/* =========================================== */
/*                  NAVBAR                     */
/* =========================================== */
.navbar {
	position: fixed;
	top:0;
  background: #1a8cff;
  width: 100%;
  text-align: left;
	padding:0;
  }
.navbar a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    font-family:calibri,sans-serif;
  }
.navbar a:hover {
    background: black;
    transition: 0.8s;
  }
	button.navbar-toggler {
		padding: 10px;
	}
	a.nav-link {
		margin:auto;
		padding: 15px;
		width: 100%;
	}
	.navbar-dark .navbar-nav .nav-link:hover {
		color: white;
	}
	div.navbar.navbar-expand-sm.navbar-dark.bg-dark {
		padding: 0px;
		margin: auto;
		text-align: center;
	}
	a.active.nav-link.nav-home {
		padding-left: 20px;
		padding-right: 20px;
	}
/* =============================================================== */
/* =                            CONTENT                          = */
/* =============================================================== */
#titulo {
  font-family: Oswald, Calibri, sans-serif;
  text-align: center;
  width: 440px;
  padding: 5px;
  border: 2px solid black;
  background-color: #99ccff;
  color: #ffffff;
  font-size: 40px;
  margin: 30px auto;
  }
  h2 {
    font-family: Georgia, serif;
    font-size: 25px;
    margin: 20px 15px;
  }
  h3 {
    font-family: Arial, serif;
    font-size: 18px;
    margin: 20px 15px;
  }
  p, li, form {
    font-family: calibri, sans-serif;
    margin: 5px 15px;
  }
  label, input, select, option {
    font-family: arial, sans-serif;
    margin: 2px 5px;
  }
  form {
    border: 2px grey solid;
    width: 570px;
    /* min-width: 300px; */
    margin: 0 auto;
    text-align: left;
    padding: 10px;
  }

a.link{
  font-family: Georgia, serif;
  font-size: 24px;
  text-align: center;
  color: #4d4d4d;
  text-decoration: none;
  /* display: inline-block; */
  display: block;
  background: #e6f2ff;
  width: 44%;
  margin: 5px auto;
  padding: 5px;
  border: 2px solid black;
}
a.link:hover {
  background: orange;
  color: white;
  transition: 0.8s;
  }
img.consigna {
    margin: 5px 20px;
  }
