td {
  width: 100px;
  height: 100px;
}
table {
  margin: auto;
  }
.vertical {
  border-left: 2px black solid;
  border-right: 2px black solid;
}
.horizontal {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}
