html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #E3E3E3;
    padding: 0;
    margin: 0;
    font-family: 'Graphik Regular', Calibri;
}
header {
    background-color:  #A100FF;
    color: white;
    font-weight: 800;
    display: grid;
    place-items: center;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.5);
    position: relative;
    z-index: 20;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

h1 {
    text-align: center;
    margin: 0;
}
h4 {margin: 8px 0; color: #666;}

#panel {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

#panel .queryBox {
    width: 48%;
    position: relative;
}

.queryBox textarea {
    width: 100%;
    min-height: 400px;
    background-color: #EEEEEE;
    resize: vertical;
}

.buttons {
    text-align: right;
    padding-top: 10px;
}

.buttons a:hover {opacity: 0.7;}

.buttons a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #222222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#format {
    background-color: #0d47a1;
}

#reset {
    border: 1px solid #d50000;
    color:#d50000;
    background-color: white;
    margin-right: 4px;
}

.messagePanel {
    background-color: #77BBCC;
    color: white;
    font-size: 2em;
    min-width: 100%;
    min-height: 400px;
    display: flex;
    position: absolute;
    opacity: 1;
    transition: all 0.25s ease;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.hidden {
    opacity: 0;
    transition: all 0.25s ease;
    z-index: -1;
}